body{
  background-color: #1B1A17;
}
p{
  font-size: 10px;
}
.text-title{
  font-size: 4rem;
  color: #22DF41;
}
.centered {
  position: absolute;
  top: 64%;
  left: 49%;
  width: 210px;
  transform: translate(-50%, -50%);
}
.progres{
  position: relative;
  margin: 4px;
  float:left;
  text-align: center;
}

.scrollbar
{
	float: left;
	overflow-y: scroll;
  height: 40px;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

#style-1::-webkit-scrollbar
{
	width: 4px;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.barOverflow{ /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
  width: 272px; height: 136px; /* Half circle (overflow) */
  margin-bottom: -14px; /* bring the numbers up */
}
.bar{
  position: absolute;
  bottom: 0; left: 0;
  width: 272px; height: 272px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 10px solid #eee;     /* half gray, */
  border-bottom-color: #22DF41;  /* half azure */
  border-right-color: #22DF41;
}
